@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active .nav-indicator {
        width: 64px;
        background-color: #e2e8f0; /* Cambia este color según tu diseño */
      }
  
      .active .nav-text {
        color: #e2e8f0; /* Cambia este color según tu diseño */
      }
}